composer
composer.phar
composer.lock
node_modules/
vendor/
#package-lock.json
npm-debug.log
yarn-error.log
yarn.lock

public/.DS_Store
php_logs.log

.docker-sync/
public/storage
public/sitemap*.xml

.parcel-cache
.parcelrc.json

# Editor directories and files
.DS_Store
.idea
.idea/
.vscode
.vscode/
.history
.history/
*.suo
*.ntvs*
*.njsproj
